.products-grid {
	.product-items {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
		.cms-product {
			margin: 0 0 45px !important;
		    width: 30% !important;
		    @media (min-width: 1000px) and (max-width: 1200px) {
			    width: 45% !important;
			    &:nth-child(3n+2) {
				    @media (min-width: 1000px) and (max-width: 1200px) {
				    	display:none;
				    }
			    }
			}
		    .product-item-info {
				&:hover {
				    .product-item-details {
				    	div {
				    		display: none;
				    	}
				    }
				}
		    }
		}
	}
}
.product-image-container {
	span {
		&.product-image-wrapper {
			padding-bottom: 90% !important;
		}
	}
}